#game-screen .grid{
    height: 90%;
    background-color: #ffffff20;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2.5%;
}

#game-screen .sectors{
    background-color: #ffffff10;
    border-radius: 5%;
    width: 30%;
    height: 30%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2.5%;
}

#game-screen .cells{
    width: 30%;
    height: 30%;
    border-radius: 11%;
    background-color: #ffffff10;
    transition: background-color .2s;
    position: relative;
}

#game-screen .cells.highlighted{
    background-color: #ffffff30;
    transition: background-color .2s;
}

#game-screen .cells svg{
    filter: drop-shadow(2px 2px 0px #00000030);
    position: absolute;
}
#game-screen .circle circle{
    transition: stroke-dashoffset 1s;
}
#game-screen .circle circle.animate{
    transition: stroke-dashoffset 1s;
    stroke-dashoffset: 0;
}
#game-screen .cross line{
    transition: stroke-dashoffset .5s;
}
#game-screen .cross line.later{
    transition: stroke-dashoffset .5s .5s;
}
#game-screen .cross line.animate{
    transition: stroke-dashoffset .5s;
    stroke-dashoffset: 0;
}
#game-screen .cross line.animate.later{
    transition: stroke-dashoffset .5s .5s;
    stroke-dashoffset: 0;
}
